<!DOCTYPE html>
<html>
  <head>
    <title>Filterizer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <section id="header">
      <h2>FILTERIZER</h2>
    </section>

    <section id="main">
      <%= yield %>
    </section>

    <section id="footer">
      <p>A one-page art show recommendation website from <a href="https://www.hoggardwagner.org/">Barry Hoggard and James Wagner</a>.</p>
    </section>
  </body>
</html>
